<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <script
      src="https://kit.fontawesome.com/092e0a7d64.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="/components/about.css" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <style></style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/index.html">Agatha</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html#contact">Contact me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid hero-section">
      <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-lg-7 text-center text-lg-start">
            <h1
              class="text-center text-lg-start h1"
              data-aos="zoom-out"
              data-aos-duration="1500"
            >
              Hello
            </h1>
            <h2
              class="text-center text-lg-start h2"
              data-aos="zoom-out"
              data-aos-duration="2000"
            >
              I'm Agatha
            </h2>
            <p
              class="text-center text-lg-start p"
              data-aos="zoom-out"
              data-aos-duration="2500"
            >
              Software Engineer based in Zomba, Malawi
            </p>

            <br />
            <div
              class="text-center text-lg-start"
              data-aos="flip-right"
              data-aos-duration="3000"
            >
              <button type="button" class="btn bg-body p-3">Who Am I?</button>
            </div>
          </div>
          <div class="col-md-10 mx-auto col-lg-5">
            <img
              src="/images/undraw_dev_focus_re_6iwt.svg"
              class="p-3 img-fluid rounded"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid what-do-ido">
      <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <h2 class="text-center text-lg-center who-imi">What I Do ?</h2>
        <p class="text-center text-lg-center descri"></p>
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-lg-7 text-center text-lg-start">
            <div class="card-header" data-aos="flip-left">
              <span class="d-inline-block m-3 btn float-right">
                <i class="fa-solid fa-code"></i>
              </span>

              <span class="d-inline-block">
                <span class="d-inline-block title">WEB DESIGN</span> <br />
                I create stunning websites using html and css. Using my
                background in UX to create a user centric site that
                converts.</span
              >
            </div>
            <div class="card-header" data-aos="flip-left">
              <span class="d-inline-block m-3 btn float-right">
                <i class="fa-solid fa-code"></i>
              </span>

              <span class="d-inline-block">
                <span class="d-inline-block title">WEB DESIGN</span> <br />
                I create stunning websites using html and css. Using my
                background in UX to create a user centric site that
                converts.</span
              >
            </div>
          </div>
          <div class="col-md-10 mx-auto col-lg-5 text-center text-lg-start">
            <div class="card-header" data-aos="zoom-in-down">
              <span class="d-inline-block m-3 btn float-right">
                <i class="fa-solid fa-code"></i>
              </span>

              <span class="d-inline-block">
                <span class="d-inline-block title">WEB DESIGN</span> <br />
                I create stunning websites using html and css. Using my
                background in UX to create a user centric site that
                converts.</span
              >
            </div>
            <div class="card-header" data-aos="zoom-in-down">
              <span class="d-inline-block m-3 btn float-right">
                <i class="fa-solid fa-code"></i>
              </span>

              <span class="d-inline-block">
                <span class="d-inline-block title">WEB DESIGN</span> <br />
                I create stunning websites using html and css. Using my
                background in UX to create a user centric site that
                converts.</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <a href="mailto:agathachituwa2@gmail.com"></a>
    </footer>
    <div class="container-fluid bg-body">
      <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <h2 class="text-center text-lg-center">agathachituwa2@gmail.com</h2>
        <div class="container text-center p-5">
          <i class="fa-brands fa-linkedin p-4"></i>
          <i class="fa-brands fa-x-twitter p-4"></i>
          <i class="fa-brands fa-facebook p-4"></i>
        </div>
        <div class="text-center text-lg-center">
          <span class="footer-text">
            Made from scratch using html, css and bootstrap
          </span>
          <br />
          <span class="footer-text">
            ✌️ This website was coded by Agatha Chituwa, and is open-sourced
          </span>
        </div>
      </div>
    </div>
    <script>
      AOS.init();
    </script>
  </body>
</html>
