.hero-section {
  background-image: linear-gradient(198deg, #54f5a4, #8697fa 56%);
  margin-top: 0;
  padding: 100px 50px 20px;
  height: 100vh;
}
h1,
h2 {
  font-size: 95px;
  font-weight: bold;
  line-height: 95px;
}
p {
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
}
.btn {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  border: 2px solid black;

  box-shadow: 5px 2px 3px black;
  transition: background-color 0.2s;
  transform: rotate(-7deg);
}
.btn:hover {
  transform: rotate(0deg);
  background-color: #01f4a4 !important;
}
@media screen and (max-width: 991px) {
  .section-36 {
    padding-bottom: 0;
  }
}
/* media queries */
@media (max-width: 900px) {
  h1,
  h2 {
    font-size: 80px;
    font-weight: bold;
    line-height: 80px;
  }
  p {
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
  }
}

@media (max-width: 600px) {
  .hero-section {
    padding: 30px 20px;
    height: 85vh;
  }
  h1,
  h2 {
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
  }
  p {
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
  }
}
