.hero-section {
  background-image: linear-gradient(198deg, #54f5a4, #8697fa 56%);
}
.what-do-ido {
  background-color: #e2e4e8;
}
.card-header {
  background-color: #e2e4e8;
}
.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 10px;
}
.h1,
.h2 {
  font-family: "Satisfy", cursive;
  font-size: 95px;
  font-weight: bold;
  line-height: 95px;
}
.p {
  font-family: "Satisfy", cursive;
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
}
.btn {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  border: 2px solid black;
  font-family: "Satisfy", cursive;
  box-shadow: 5px 2px 3px black;
  transition: background-color 0.2s;
  transform: rotate(-7deg);
}
.navbar-brand {
  font-family: "Satisfy", cursive;
}
.fa-brands {
  background-color: #f9f7fe;
  color: #8697fa;
  font-size: large;
  border-radius: 50px;
}
.footer-text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.btn:hover {
  transform: rotate(0deg);
  background-color: #01f4a4 !important;
}
.who-imi {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
}
.descri {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

/* media queries */
@media (max-width: 900px) {
  .h1,
  .h2 {
    font-size: 80px;
    font-weight: bold;
    line-height: 80px;
  }
  .p {
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
  }
}

@media (max-width: 600px) {
  .hero-section {
    padding: 30px 20px;
    height: 85vh;
  }
  .h1,
  .h2 {
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
  }
  .p {
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
  }
}
